/* Subscribe */

#subscribeTitle {
    width: 100%;
    position: relative;
    border-top: none;
}

#subscribeTitle .subscribe__wrapper {
    margin: 3rem 0;
    padding: 5rem;

}

.subscribe__wrapper h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    position: relative;
    font-weight: 400;


}

.subscribe__wrapper h1::before {
    content: '';
    width: 9rem;
    height: .2rem;
    position: absolute;
    background: var(--black);
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);

}

.subscribe__wrapper h1 span {
    color: var(--green);
}

.subscribe__wrapper .subscribe-input {
    width: 100%;
    display: flex;
    justify-content: center;

}

.subscribe__wrapper .subscribe-input input {
    width: 40%;
    height: 3rem;
    border: none;
    outline: none;
    border-bottom: .1rem solid var(--black);
    font-size: 2rem;

}

.subscribe__wrapper .subscribe-input button {
    width: 15%;
    height: 3rem;
    border: none;
    background: none;
    border-bottom: .1rem solid var(--black);
    font-size: 2rem;
    color: var(--black);
}

.subscribe__wrapper .subscribe-input button:hover {
    color: var(--green);
}


/* Resonpive Subscribe */

@media screen and (max-width:767px) {

    .subscribe__wrapper h1 {
        font-size: 3rem;
        margin-bottom: 5rem;

    }

    .subscribe__wrapper .subscribe-input input {
        width: 60%;
        height: 3rem;
        border: none;
        outline: none;
        border-bottom: .1rem solid var(--black);
        font-size: 1.5rem;

    }

    .subscribe__wrapper .subscribe-input button {
        width: 30%;
        height: 3rem;
        border: none;
        background: none;
        border-bottom: .1rem solid var(--black);
        font-size: 1.5rem;
        color: var(--black);

    }
}