
:root {
  --white:#fff;
  --black:#000;
  --green:#79a206;
  --star:#FF9800;
  --red:#D3122A;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
html {
  font-size: 62.5%;
}

a {
  text-decoration: none !important;
  color: var(--black) !important;

}
ul {
  list-style: none;
  margin-bottom: unset;
  padding-left: unset;
}
img {
  width: 100%;
  vertical-align: middle;
}
a, button, img, input, span {
  transition: all .3s ease 0s;
}


